<!-- <br/>
<h2 class="page-header"></h2>
<br/>
<div class="row">
    <div class="col-md-6">
        <div class="alert alert-success">
            <form (ngSubmit)="onLoginSubmit()">
                <div class="form-group">
                    <label for="exampleInputEmail3">아이디 : Username </label>
                    <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone:true}" class="form-control" id="exampleInputEmail3"/>
                </div>
                <br/>
                <div class="form-group">
                    <label for="exampleInputEmail4">패스워드 : Password</label>
                    <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" class="form-control" id="exampleInputEmail4">
            
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="로그인"/>
            </form>

        </div>


    </div>
    <div class="col-md-6">
        <div class="alert alert-info">

            <form (ngSubmit)="onLoginSigSubmit()">
                <h3>
                    <input type="submit"class="btnbtn-info"value="원클릭전자서명로그인"/>
                </h3>
            </form>
            <p>브라우저가인증서/개인키를가지고있는경우인증서를이용한원클릭전자서명로그인</p>
        </div>

        <div class="alert alert-danger">
            <form (ngSubmit)="onQRSigLoginSubmit()">
                <h3>
                    <input type="submit"class="btnbtn-danger"value="QR 전자서명로그인"/>
                </h3>
            </form>
            <p>인증서/개인키를 가지고 있는 
                마스터기기에서 생성한 로그인용 QR코드를 
                이용하여 인증수단을 가지지 않은 추가기기에서의 전자서명 로그인을 수행</p>
        </div>

    </div>


</div> -->


<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                
                
  
                <br>
                <br>
                <hr class="divider" />
                <p class="text-muted mb-5">프로필 수정 </p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                
                <form id="contactForm" data-sb-form-api-token="API_TOKEN" (ngSubmit)="onLoginSubmit()">
                    <!-- userName input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                        [(ngModel)]="username" [ngModelOptions]="{standalone:true}" data-sb-validations="required" />
                        <label for="name">ID </label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A Username is required.</div>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" type="password"  data-sb-validations="required"  placeholder="Enter your password"
                        [(ngModel)]="password" [ngModelOptions]="{standalone:true}"/>
                        <label for="Password">PassWord</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A Password is required.</div>
                    </div>
  
                   
                    
                                     
                  
                    <div class="d-grid"><button class="btn btn-secondary btn-xl " id="submitButton" type="submit">로그인</button></div>
                    <br>
                    <div class="row">
                    <form (click)="onLoginSigSubmit()" class="d-grid col-md-6">
                        
                            <button class="btn btn-outline-dark"value="원클릭전자서명로그인"><i class="bi bi-credit-card"></i>  원클릭전자서명로그인</button>
                        
                    </form>
                    <form (ngSubmit)="onQRSigLoginSubmit() " class="d-grid col-md-6">
                            
                        <button class="btn btn-outline-dark"value="QR전자서명로그인"><i class="bi bi-qr-code"></i>  QR 전자서명로그인</button>
                        
                    </form>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <a routerLink= "/register"style="float:right;" class="sign"><i class="bi bi-person-plus-fill" ></i>아직 회원이 아니세요?</a>
                    </div>

                </div>

                </form>
                <br>
            
                <br>
                <hr>
                <!-- <div class="alert alert-secondary">

                    <form (ngSubmit)="onLoginSigSubmit()">
                        <h3>
                            <input type="submit"class="btn btn-info"value="원클릭전자서명로그인"/>
                        </h3>
                    </form>
                    <p>브라우저가 인증서/개인키를 가지고 있는 경우 인증서를 이용한 원클릭 전자서명 로그인</p>
                </div> -->
        
                <!-- <div class="alert alert-secondary">
                    <form (ngSubmit)="onQRSigLoginSubmit()">
                        <h3>
                            <input type="submit"class="btn btn-danger"value="QR 전자서명로그인"/>
                        </h3>
                    </form>
                    <p>인증서/개인키를 가지고 있는 
                        마스터기기에서 생성한 로그인용 QR코드를 
                        이용하여 인증수단을 가지지 않은 추가기기에서의 전자서명 로그인을 수행</p>
                </div> -->
            </div>
        </div>
        
    </div>
    
  </section>
  <!-- Footer-->
  <footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Company Name</div></div>
  </footer>