<!-- <div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">91812971 이현종 </h1>
    <p>Welcome to Lee HyeonJong Homepage</p>
    <button class="btn btn-primary btn-lg" type="button" routerLink="/register">
    register
    </button>
    &nbsp;
    <button class="btn btn-success btn-lg" type="button" routerLink="/login">
    login
    </button>
    </div>
</div> -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

<body>
    <header class="masthead ">
        <div class="container">
            <div class="masthead-subheading">mi todo</div>
            <div class="masthead-heading text-uppercase">My Site</div>
            <a class="btn btn-dark btn-xl text-uppercase " href="#portfolio">Tell Me More</a>
        </div>
    </header>
    
</body>


<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">My Web Service.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-qrcode"></i>
                </span>
                <h4 class="my-3">QR-CODE</h4>
                <p class="text-muted">QR code를 이용한 로그인</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-certificate"></i>
                </span>
                <h4 class="my-3">Certification</h4>
                <p class="text-muted">인증서를 이용한 웹로그인</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-map-marked-alt"></i>
                </span>
                <h4 class="my-3">Map</h4>
                <p class="text-muted">키워드 검색을 통한 장소 검색</p>
                
            </div>
        </div>
        
    </div>
</section>

<section class="page-section bg-light" id="portfolio">
    <div class="container ">

        <div class="text-center">
            <h2 class="section-heading text-uppercase TeamProject">My Info.</h2>
            
            <div class="card-body">
            <h4 class="card-title">이현종</h4>
            <p class="card-text">
                사는 곳 : 경기도 고양시


            </p>
            <p class="card-text">
                나이 : 26세 (2021년 기준)


            </p>

            <p class="card-text">
                instargram : jongjong2


            </p>

        </div>

        </div>

        <hr>
        <div class="text-center">
            <h2 class="section-heading text-uppercase TeamProject">TeamProject</h2>
            <h3 class="section-subheading text-muted TeamProject">Reserve</h3>
            <div class="card-body">
            <h4 class="card-title">최종장박봉</h4>
            <p class="card-text">
                이현종 박주형 이강봉 장예진 최유진

            </p>

        </div>

        </div>

        
    </div>
</section>

<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; LeeHyeonJong 2021</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/jongjong2/"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#"><i class="fab fa-google"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>








<!-- <style>
.card {
 margin:0 auto;
}


</style> -->

<!-- <div class="container">
<div class= "row text-center">
<div class="col">
<div class="card" style="width: 40rem ">
<div class = "card-body">
<h5 class="card-title">이현종</h5>
<h6 class="card-subtitle mb-2 text-muted">PROFILE</h6>
<p class="card-text1">출생년도 :1996.05.13</p>
<p class="card-text2">나이 : 26세</p>
<p class="card-text3">사는 곳 : 일산</p>
<p class="card-text4">대학교 : 중부대학교 정보보호학과 3학년 재학</p>
<p class="card-text4">학번 : 91812971</p>



<div class="col">
<div class="card" style="width: 18rem">
<div class="card-body">
<h5 class="card-title">최종장박봉</h5>
<h6 class="card-subtitle mb-2 text-muted">조이름</h6>

<p class="card=text">
RESERVE 통합형 예약 웨이팅 <br>시스템 개발 중 
</p>
<h6 class="card-subtitle mb-2 text-muted">프로젝트명</h6>
</div>
</div>
</div>
</div>
</div> -->